:root {
    --main-blue: #646ddf;
    --light-blue: #8791b8;
    --main-white: #f3f3f3;
    --main-dark: #282e36;
    --main-yellow: #ffa400;
    --light-yellow: #cbaa6d;
    }

body {
    font-family: 'Oswald', sans-serif !important;
    background: var(--main-white) !important;
    color: var(--main-dark);
}

.text-title {
    font-family: 'Caveat', cursive;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
}

.text-blue {
    color: var(--main-blue);
}

nav {
    background: var(--main-blue);
}

nav .nav-link {
    font-size: 1.4rem;
    color: var(--main-white)
}

span#cart-link {
    position: relative;
}

div.cart-item {
    position: absolute;
    top: -18px;
    width: 1.875rem;
    height: 1.875rem;
    border-radius: 50%;
    color: #fff;
    font-size: 1.4rem;
    text-align: center;
    color: var(--main-white);
    transition: all .5s ease-in-out;
}

div.cart-item:hover {
    color: var(--main-yellow)
}

.cart-btn:hover div.cart-item{
color: var(--main-yellow)
}

button:disabled {
    opacity: 0.5;
}

.count.btn:hover {
    transform: scale(1.1);
}

.count.btn:active {
    transform: scale(1);
}

.fa-trash:hover {
    transform: scale(1.1);
}

.fa-trash:active {
    transform: scale(1);
}

span.text-title {
    font-size: 1.5rem;
}