:root {
    --main-blue: #646ddf;
    --light-blue: #8791b8;
    --main-white: #f3f3f3;
    --main-dark: #282e36;
    --main-yellow: #ffa400;
    --light-yellow: #cbaa6d;
    }

body {
    font-family: 'Oswald', sans-serif !important;
    background: var(--main-white) !important;
    color: var(--main-dark);
}

.text-title {
    font-family: 'Caveat', cursive;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
}

.text-blue {
    color: var(--main-blue);
}

nav {
    background: var(--main-blue);
}

nav .nav-link {
    font-size: 1.4rem;
    color: var(--main-white)
}

span#cart-link {
    position: relative;
}
span#cart-link::after {
    content: '';
    height: 20px;
    width: 20px;
    border-radius: 50%;
    position: absolute;
    top: -3px;
    left: 17px;
    background-color: #ffa400;
    transition: 0.5s linear;
    z-index: 1;
}
span#cart-link .cart-item {
    position: absolute;
    top: -3px;
    left: 23px;
    font-size: 0.8rem;
    color: white;
    display: inline-block;
    z-index: 2;
}

.cart-btn:hover {
border-color: var(--main-yellow);
}

button:disabled {
    opacity: 0.5;
}

.count.btn:hover {
    transform: scale(1.1);
}

.fa-trash:hover {
    transform: scale(1.1);
}

.fa-trash:active {
    transform: scale(1);
}

span.text-title {
    font-size: 1.5rem;
}